.A{
    border: #ffea00 5px outset;
    background-color: #ffea00;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.R{
    border: red 5px outset;
    background-color: red;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;    border-radius: 50px;

}
.Az{
    border: #000080    5px outset;
    background-color: #000080    ;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.V{
    border: rgb(4, 255, 0) 5px outset;
    background-color: rgb(4, 255, 0);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.M{
    border: rgb(163, 72, 148) 5px outset;
    background-color: rgb(163, 72, 148);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.N{
    border: rgb(255, 119, 0) 5px outset;
    background-color: rgb(255, 119, 0);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.An{
    border: rgb(173, 173, 173) 5px outset;
    background-color: rgb(173, 173, 173);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.F{
    border: rgb(244, 233, 75);
    background-color: rgb(252, 242, 98);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.ES{
    border: rgba(129, 63, 5, 0.94) 5px outset;
    background-color:rgba(129, 63, 5, 0.94);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    border-radius: 50px;

}
.AMOR{
    border: rgb(210, 8, 116) 5px outset;
    background-color: rgb(210, 8, 116);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    margin-bottom: 40px;
    border-radius: 50px;

    
}
body{
    background-image: url('img/color.jpeg ');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
<<<<<<< HEAD
.subt, .subt1 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    text-align: center; /* Centrado horizontal */
    margin-top: -40px; /* Mantén el margen superior */
    font-size: 20px;
}

.subt1 {
    color: beige;
}
=======
.wrapper{
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto;
}
:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    -webkit-filter: url('#goo');
            filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    -webkit-transform: none;
            transform: none;
}






@media only screen and (max-width: 600px) {
    .formu{
        margin-left: -50px;
    }
}

>>>>>>> 9851e5970015100001c4f4c41278224cc116a110
@media (max-width: 600px) {
    .A, .R, .Az, .V, .M, .N, .An, .F, .ES, .AMOR {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 30px;
        height: 100px;
    }
    body{
        background-image: url('img/color.jpeg ');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    /* Media query para dispositivos móviles */

    .subt, .subt1 {
        font-family: 'Comic Neue', cursive;
        text-align: center;
        margin-top: -40px;
        font-size: 20px;
    }
    
    .subt1 {
        color: beige;
    
    }
}

