.colortitulo{
color: rgb(253, 252, 255);
}
.colorsub{
    color: rgb(207, 168, 202);
}
.colorfondo{
    background-color: rgb(224, 184, 206);
}
.navbar1{
    background-color: rgb(102, 88, 112);
}
.colorbar{
    color: black;
}